
body{
  height: 100%;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-image:url(/table.png);
  background-size:cover;
  background-repeat:no-repeat;
  text-align: center;
  color: #fff;
  font-weight: bold;

}

h1 {
    color: goldenrod;
}

#message-el{
  font-style: italic;
}

/* 
3. Style the button according to the provided design
text color - #016f32
width      - 150px
background - goldenrod
 */
 
button {
  background: goldenrod;
  width: 150px;
  color:#016f32;
  border-radius: 25px;
  padding-top:5px;
  padding-bottom:5px;
  font-weight:bold;
  border:none;
  margin-bottom: 4px;
  
}